In [2]:
import pandas as pd

In [12]:
df = pd.read_csv("/Users/seunghun/SSAFY/final-project/Comeet-Data/crawlers_v3/data/beans/coffee_clean.csv")

In [13]:
df.isnull().sum()

slug              0
all_text          0
rating            0
roaster           0
name              0
location          0
origin            0
roast            58
est_price         6
review_date       0
agtron            0
aroma            13
acid            314
body              1
flavor            1
aftertaste        1
with_milk      2115
desc_1            1
desc_2            0
desc_3            1
dtype: int64

In [14]:
df.drop(columns=["with_milk", "slug", "all_text"], inplace=True)

In [15]:
df.head()

,rating,roaster,name,location,origin,roast,est_price,review_date,agtron,aroma,acid,body,flavor,aftertaste,desc_1,desc_2,desc_3
0,93,Lu's Coffee,Kenya Nyeri Gichathaini AA Top,"New Taipei City, Taiwan","Nyeri growing region, south-central Kenya",Medium-Light,NT $320/200 grams,October 2023,58/78,9.0,9.0,8.0,9.0,8.0,"Richly sweet-savory. Red currant, narcissus, t...",Produced by smallholding members of the Gikand...,"A deep-toned, sweetly savory Kenya cup with in..."
1,96,JBC Coffee Roasters,Wilton Benitez Java,"Madison, Wisconsin","Piendamó, Cauca, Colombia",Medium-Light,$25.00/8 ounces,October 2023,60/74,9.0,9.0,9.0,10.0,9.0,"Multi-layered, enigmatic. Tart citrus, myrrh, ...",Produced by Wilton Benitez entirely of the Eth...,"An impossibly complex, delightfully floral car..."
2,94,HWC Coffee Roasters,HWC Holy Melody Espresso Blend,"Taichung, Taiwan",Kenya; Ethiopia,Medium-Light,$40.00/8 ounces,September 2023,57/77,9.0,NaN,9.0,9.0,8.0,"Evaluated as espresso. Deeply sweet-savory, fr...","A blend of coffees from Kenya and Ethiopia, ro...","A complex, multi-layered espresso blend with n..."
3,93,HWC Coffee Roasters,HWC Power Drum Espresso Blend,"Taichung, Taiwan","Peru, Guatemala",Medium-Light,$40.00/8 ounces,September 2023,58/73,8.0,NaN,9.0,9.0,8.0,"Evaluated as espresso. Richly chocolaty, sweet...","A blend of coffees from Peru and Guatemala, ro...","A bold, chocolaty espresso blend supported by ..."
4,92,Speedwell Coffee,El Salvador Monte Verde,"Plymouth, Massachusetts","Monte Verde, Santa Ana Department, central El ...",Medium-Light,$16.00/12 ounces,September 2023,60/76,8.0,9.0,8.0,9.0,8.0,"Sweetly bright, rich-toned. Baking chocolate, ...",Produced by Rene Contreras on the family farm ...,A solid El Salvador cup with a crisp chocolate...

In [16]:
df.isnull().sum()

rating           0
roaster          0
name             0
location         0
origin           0
roast           58
est_price        6
review_date      0
agtron           0
aroma           13
acid           314
body             1
flavor           1
aftertaste       1
desc_1           1
desc_2           0
desc_3           1
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2440 entries, 0 to 2439
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rating       2440 non-null   int64
 1   roaster      2440 non-null   object
 2   name         2440 non-null   object
 3   location     2440 non-null   object
 4   origin       2440 non-null   object
 5   roast        2382 non-null   object
 6   est_price    2434 non-null   object
 7   review_date  2440 non-null   object
 8   agtron       2440 non-null   object
 9   aroma        2427 non-null   float64
 10  acid         2126 non-null   float64
 11  body         2439 non-null   float64
 12  flavor       2439 non-null   float64
 13  aftertaste   2439 non-null   float64
 14  desc_1       2439 non-null   object
 15  desc_2       2440 non-null   object
 16  desc_3       2439 non-null   object
dtypes: float64(5), int64(1), object(11)
memory usage: 324.2+ KB

In [18]:
df.dropna(inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2082 entries, 0 to 2439
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rating       2082 non-null   int64
 1   roaster      2082 non-null   object
 2   name         2082 non-null   object
 3   location     2082 non-null   object
 4   origin       2082 non-null   object
 5   roast        2082 non-null   object
 6   est_price    2082 non-null   object
 7   review_date  2082 non-null   object
 8   agtron       2082 non-null   object
 9   aroma        2082 non-null   float64
 10  acid         2082 non-null   float64
 11  body         2082 non-null   float64
 12  flavor       2082 non-null   float64
 13  aftertaste   2082 non-null   float64
 14  desc_1       2082 non-null   object
 15  desc_2       2082 non-null   object
 16  desc_3       2082 non-null   object
dtypes: float64(5), int64(1), object(11)
memory usage: 292.8+ KB

In [20]:
df["desc_3"]

0       A deep-toned, sweetly savory Kenya cup with in...
1       An impossibly complex, delightfully floral car...
4       A solid El Salvador cup with a crisp chocolate...
5       An inviting anaerobic natural Uganda with thro...
6       A lovely Thailand Robusta, processed experimen...
                              ...
2435    A rich, savory-leaning Kenya cup with a vivid ...
2436    A harmonious, refined, exquisitely clean natur...
2437    A classically appealing Kenya cup: juicy, swee...
2438    A complex, chocolaty and floral Kenya cup with...
2439    A sweetly fruit-forward natural-processed Ethi...
Name: desc_3, Length: 2082, dtype: object

In [21]:
df["desc_1"]

0       Richly sweet-savory. Red currant, narcissus, t...
1       Multi-layered, enigmatic. Tart citrus, myrrh, ...
4       Sweetly bright, rich-toned. Baking chocolate, ...
5       Richly bittersweet, deep-toned. Tangerine zest...
6       Complex, richly bittersweet. Pomegranate, hop ...
                              ...
2435    Delicate, richly sweet-savory. Toffee, tamarin...
2436    Rich-toned, cleanly fruit-forward, intricately...
2437    Deeply sweet, richly savory. Red currant, lave...
2438    Crisply sweet, richly cocoa-toned. Dark chocol...
2439    Crisply sweet, fruit-toned. Raspberry, roasted...
Name: desc_1, Length: 2082, dtype: object